.start {
  font-size: 22px;
  color: #555555;
  padding: 10px 50px;
  border-radius: 5px;
}

.answer {
  border-radius: 5px;
  padding: 5px 10px;
  background-color: coral;
  color: white;
  margin-top: 5px;
}
