<h3>Time: {{seconds}}</h3>
<h3>Score: {{score}}</h3>

<div *ngIf="!questionList" style="margin-top: 50px">
  <button class="button start" (click)="getQuestions()">Start</button>
</div>

<div *ngIf="questionList && questionList[questionIndex]">
  <hr>
  <h4>{{questionList[questionIndex].question}}</h4>

  <div style="display: flex; flex-flow: column" *ngFor="let response of questionList[questionIndex].responseList">
    <button class="button answer" (click)="checkQuestion(questionList[questionIndex].id, response)">{{response}}</button>
  </div>
</div>

<div *ngIf="finished" style="margin-top: 50px">
  <h4>Thank you for playing.</h4>
  <button class="button start" (click)="getQuestions()">Continue</button>
</div>


<router-outlet></router-outlet>
