<div style="display: flex; width: 100%; height: 50px; border-bottom: 1px solid grey; flex-flow: row; position: absolute; top: 0; left: 0; margin-bottom: 50px; justify-content: space-between">
  <div class="title" style="display: flex; justify-self: flex-start; margin-left: 5px">
    <h4>Quiz Questions</h4>
  </div>

  <div class="sing-button" *ngIf="auth.user$ | async as user; else login" style="display: flex; justify-self: flex-end; margin-right: 5px; align-items: center">
    <span style="margin-right: 30px;">
      <a routerLink="/questions">Questions</a>
    </span>

    <button class="button" (click)="auth.signOut()">Sign Out</button>
  </div>

  <ng-template #login>
    <div class="sing-button" style="display: flex; justify-self: flex-end; margin-right: 5px; align-items: center" >
      <button class="button" (click)="auth.googleSignin()">Login with Google</button>
    </div>
  </ng-template>
</div>


<router-outlet></router-outlet>
